<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet"/>
    <script src="{{url_for('static',filename='jquery-3.6.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <title>Ismo Electronics Enterprise</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('home')}}"><img alt="" height="30"
                                                                src="{{url_for('static',filename='logo.PNG')}}"
                                                                width="30">Ismo
            Electronics Enterprise</a>
        <button aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarScroll" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="{{url_for('installation')}}">Installation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('market')}}">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('maintenance')}}">Maintenance</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('support')}}">Support</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<nav class="" style="height:650px;">
    <div>

    </div>
</nav>
<div class="container my-" style="background-color: #e38b51">

    <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">OUR WORLD</h5>

                    <ul class="list-unstyled mb-4">
                        <li>
                            <a class="text-white" href="#!">About us</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Collections</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Environmental philosophy</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Artist collaborations</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">Assistance</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a class="text-white" href="#!">Contact us</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Size Guide</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Shipping Information</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Returns & Exchanges</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Payment</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">Careers</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a class="text-white" href="#!">Jobs</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">Sign up to our feedback</h5>

                    <div class="form-outline form-white mb-4">
                        <form action="{{url_for('home')}}" class="newsletter" method="post">
                            <label class="form-label text-white" for="name">Name: </label>
                            <br><input class="form-control" id="name" name="name" placeholder="Enter your name"
                                       type="text">
                            <br><label class="form-label text-white" for="email">Email: </label>
                            <br><input class="form-control" id="email" name="email" placeholder="Enter your email"
                                       type="email">
                            <br><label class="form-label text-white" for="comment">Commentaire</label>
                            <br><input class="form-control" id="comment" name="comment" placeholder="Type your text"
                                       style=""
                                       type="text">
                            <button class="btn btn-outline-success" type="submit" style="margin-top:8px;">Subscribe</button>
                        </form>
                    </div>


                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 border-top border-white">
            © 2022 Copyright:
            <a class="text-white" href="http://iee.onrender.com">IEE</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->


</body>
</html>
